@import '../../../styles/variables.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    h1 {
        font-size: 2rem;
    }

    svg {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        color: $primary-4;
    }
}

.noGoals {
    display: flex;
    min-height: 40vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}