@import '../../../styles/variables.scss';

// Common
.categoryPill {
    background: linear-gradient(to left, transparent, $primary-10);
    padding: .5rem 1rem;
    border-radius: 2rem;
    display: inline-flex;
    grid-gap: 3rem;

    div {
        display: flex;
        grid-gap: .5rem;

        img {
            max-width: 1.25rem!important;
            min-width: 1.25rem!important;
            max-height: 1.25rem!important;
            min-height: 1.25rem!important;
        }

        svg {
            width: 1.125rem;
            height: 1.125rem;
            color: $primary-5;
        }
    }
}

// Goals Listing
.goalHolder {
    background-color: $neutral-11;
    color: $primary-5;
    padding: 1.5rem;
    border-radius: 1rem;
    transition: .2s ease;
    position: relative;
    box-shadow: $shadow-inset;

    &:hover {
        border-top: .25rem solid;
        box-shadow: $shadow-inset;
        transform: translateY(.1rem);
    }

    .editIcon {
        position: absolute;
        top: .75rem;
        right: .75rem;
        font-size: 1.25rem;
        transition: .1s ease;

        &:hover {
            transform: scale(.9);
        }
    }

    .textHolder {
        color: $neutral-1;
        margin-top: .5rem;

        h3 {
            font-size: 1.25rem;
            margin-bottom: .25rem;
        }

        .dueDate {
            display: flex;
            align-items: center;
            grid-gap: .25rem;
            margin-top: .5rem;
        }
    }
}

// Individual Goals pages
.goalsPage {
    .headerSection {
        display: flex;
        align-items: center;
        justify-content: space-between;

        svg {
            font-size: 1.5rem;
            transition: .2s ease;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
            }
        }

        .editIcon {
            color: $neutral-3;

            &:hover {
                color: $primary-5;
            }
        }

        .deleteIcon {
            font-size: 1.25rem;
            color: $neutral-3;
            margin-left: .75rem;

            &:hover {
                color: $red-5;
            }
        }
    }

    h1 {
        margin-top: 1.5rem;
        margin-bottom: .5rem;
    }

    p {
        font-size: 1.25rem;
    }
}

.goalConfiguration {
    margin-top: 2rem;

    .controls {
        border-bottom: .1rem solid $neutral-7;
        display: flex;
        justify-content: space-between;

        .tabs {
            display: flex;
            align-items: flex-end;
            gap: 1rem;

            > div {
                padding: .5rem;
                cursor: pointer;
                transition: .1s ease;
            }

            .active {
                border-bottom: .2rem solid $primary-4;
                transform: translateY(.1rem);
            }
        }

        .addButton {
            padding: .5rem 1rem;
            box-shadow: none;
            font-size: 1rem;
            margin: .5rem;
        }
    }
}

.noData {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12rem;
    font-size: 1.25rem;
}

// Milestones
.milestonesTable {
    margin-top: 2rem;
    width: 100%;

    tr {
        text-align: left;

        span {
            display: block;
            margin-bottom: .25rem;
        }
    }

    th {
        border-bottom: .1rem solid $neutral-9;
        padding: .5rem;

        &:first-child {
            text-align: center;
        }
    }

    td {
        padding: .5rem;
        border-bottom: .1rem solid $neutral-9;
        border-right: .1rem solid $neutral-9;

        &:first-child {
            text-align: center;
        }

        &:last-child {
            border-right: none;
            text-align: right;
        }

        svg {
            color: $neutral-3;
            font-size: 1.125rem;
            margin-right: .5rem;
            transition: .2s ease;
            cursor: pointer;
            vertical-align: middle;

            &:hover {
                transform: scale(1.2);
                color: $primary-5;
            }
        }

        .delete {
            &:hover {
                color: $red-5;
            }
        }
    }

    input {
        border: none;
        box-shadow: $shadow-inset;
        border-bottom: .1rem transparent;
        padding: .25rem .5rem;
        min-width: 10rem;

        &:focus {
            outline: none;
            box-shadow: none;
            border-bottom: .1rem solid $primary-5;
        }
    }

    .newMilestone {
        background: $neutral-9;

        .save {
            &:hover {
                color: $green-5;
            }
        }
    }

    .pastMilestone {
        opacity: .7;

        &:hover {
            opacity: 1;
        }
    }

    .upcomingMilestone {
        background: $neutral-11;
    }
}
