@import '../styles/variables.scss';

.progressInputWrapper {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 1rem;

    .progressIcon {
        height: 2rem;
        width: 2rem;
        margin-top: 0.1rem;
    }

    .editIcon {
        width: 1rem;
        height: 1rem;
        cursor: pointer;
        margin-top: 0.1rem;
    }
}
