@import '../../styles/variables.scss';

.header {
    background: $neutral-1;
    padding: 1rem 0;

    .headerInner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            margin-top: 0;
        }
    }
}

.main {
    min-height: 80vh;
    display: flex;
    align-items: center;

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2rem;
        color: $neutral-3;
    }

    .btnHolder {
        margin-top: 2rem;
        display: flex;
        grid-gap: 1rem;
        align-items: center;
    }
}
