@import '../variables.scss';

.form-background {
    background-color: $neutral-1;
}

.form-container {
    background-color: $neutral-10;
    min-width: 25rem;
    border-radius: 0.5rem;
    box-shadow: $shadow-inset;
    padding: 3rem;
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    border-top: 0.5rem solid $primary-4;
    position: relative;

    .close {
        position: absolute;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        right: -0.75rem;
        top: -1.25rem;
        color: $neutral-1;
        border-radius: 50%;
        background: $neutral-10;
        box-shadow: $shadow-main;
        transition: 0.2s ease;

        &:hover {
            box-shadow: $shadow-hover;
            transform: translateY(0.1rem);
        }
    }

    h1 {
        margin-bottom: 2rem;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    label {
        font-size: 1.125rem;
        margin-bottom: 0.25rem;
        margin-top: 1rem;

        &:first-of-type {
            margin-top: 0;
        }
    }

    input[type='email'],
    input[type='password'],
    input[type='text'],
    input[type='date'],
    input[type='number'],
    textarea,
    select {
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: none;
        background: $neutral-9;
        box-shadow: $shadow-inset;
        font-size: 1rem;
    }

    textarea {
        height: 4rem;
    }

    select {
        background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png)
            no-repeat 97.5% $neutral-9;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    button {
        margin-top: 2rem;
    }

    a {
        width: 100%;
        text-align: center;
        margin-top: 1rem;
    }

    .redirect {
        width: 100%;
        text-align: center;
        margin-top: 1.5rem;

        a {
            display: inline;
        }
    }

    .radio-holder {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;

        p {
            font-size: 1.125rem;
            margin-right: 0.25rem;
        }

        label {
            margin: 0;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 1rem;
        }

        input[type='radio'] {
            -webkit-appearance: none;
            appearance: none;
            background-color: $neutral-10;
            margin: 0;
            color: $primary-4;
            width: 1rem;
            height: 1rem;
            border: 0.1rem solid $primary-4;
            border-radius: 50%;
            display: grid;
            place-content: center;

            &::before {
                content: '';
                width: 0.6rem;
                height: 0.6rem;
                border-radius: 50%;
                transform: scale(0);
                transition: 120ms transform ease-in-out;
                box-shadow: inset 1rem 1rem $primary-4;
            }

            &:checked::before {
                transform: scale(1);
            }
        }
    }
}

.form-error {
    color: $red-4;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $red-10;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.1rem solid $red-4;

    svg {
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem;
    }
}

.field-error {
    color: $red-4;
    font-size: 0.875rem;
}
