@import '../../../styles/variables.scss';

.header {
    background: $neutral-1;

    .borderUp {
        width: 100%;
        height: 0.5rem;
        background: linear-gradient($primary-4, $primary-7);
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.25rem;

        a {
            color: $neutral-8;
            text-decoration: none;
            margin-left: 1rem;
            font-size: 1.25rem;
        }

        .navActive,
        a:hover {
            color: $neutral-10;
        }

        .logo {
            display: flex;
            align-items: center;
        }
    }

    .bgImageHolder {
        background: $neutral-1;
        position: relative;
        overflow: hidden;
        height: 20vh;

        img {
            position: absolute;
            height: 35vh;
            top: 5vh;
            left: -10vh;
        }
    }
}
