@import './variables.scss';

.initial-section {
    min-height: 50vh;

    .initial-section-inner {
        background: $neutral-10;
        min-height: 50vh;
        margin-top: -10vh;
        position: relative;
        z-index: 1;
        border-radius: 1rem;
        border-top: .25rem solid $primary-7;
        box-shadow: $shadow-hover;
    }
}