// Colors - Palette 16
$primary-1: #240754;
$primary-2: #34126F;
$primary-3: #421987;
$primary-4: #51279B;
$primary-5: #653CAD;
$primary-6: #724BB7;
$primary-7: #8662C7;
$primary-8: #A081D9;
$primary-9: #CFBCF2;
$primary-10:#EAE2F8;

$neutral-1: #102A43;
$neutral-2: #243B53;
$neutral-3: #334E68;
$neutral-4: #486581;
$neutral-5: #627D98;
$neutral-6: #829AB1;
$neutral-7: #9FB3C8;
$neutral-8: #BCCCDC;
$neutral-9: #D9E2EC;
$neutral-10:#F0F4F8;

$red-1: #610316;
$red-2: #8A041A;
$red-3: #AB091E;
$red-4: #CF1124;
$red-5: #E12D39;
$red-6: #EF4E4E;
$red-7: #F86A6A;
$red-8: #FF9B9B;
$red-9: #FFBDBD;
$red-10:#FFE3E3;

$yellow-1: #8D2B0B;
$yellow-2: #B44D12;
$yellow-3: #CB6E17;
$yellow-4: #DE911D;
$yellow-5: #F0B429;
$yellow-6: #F7C948;
$yellow-7: #FADB5F;
$yellow-8: #FCE588;
$yellow-9: #FFF3C4;
$yellow-10: #FFFBEA;

$green-1: #014D40;
$green-2: #0C6B58;
$green-3: #147D64;
$green-4: #199473;
$green-5: #27AB83;
$green-6: #3EBD93;
$green-7: #65D6AD;
$green-8: #8EEDC7;
$green-9: #C6F7E2;
$green-10:#EFFCF6;

// Sizes
$mobileGap: 3rem;
$smallDesktopGap: 4rem;
$desktopGap: 6rem;
$bigDesktopGap: 8rem;

// Shadows

$shadow-main: 0 10px 10px 0 rgba(0, 0, 0, 0.19),
            0 4px 6px 0 rgba(0, 0, 0, 0.23);
$shadow-hover: 0 4px 4px 0 rgba(0, 0, 0, 0.19),
            0 1px 2px 0 rgba(0, 0, 0, 0.23);
$shadow-inset: inset 0 3px 3px 0 rgba(0, 0, 0, .16),
            inset 0 1px 2px 0 rgba(0, 0, 0, .23);